body {
    background-color: black;
    padding: 20px;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

#mainContainer {
    border: solid white;
    border-radius: 10px;
    max-width: 80em;
    margin-right: 20px;
    margin: 0 auto;
    padding: 20px;
}

#contentElements {
    margin: 0;
    padding: 0;
}

#contentElements h1 {
    color: white;
    font-weight: bold;
    font-size: 30px;
    padding: 2px;
    margin: 2px;
    text-align: center;
}

#contentElements p {
    color: white;
    font-size: 15px;
    text-align: center;
    font-weight: normal;
    padding: 2px;
    margin: 2px;
}

#contentElements button {
    border: solid white;
    border-radius: 5px;
    background-color: black;
    color: white;
}

#contentElements button:hover {
    border: solid grey;
    background-color: black;
    color: grey;
}

#piholeButton {
    text-align: center;
}

#piholeButton button {
    font-size: 26px;
    padding: 4px;
    margin: 16px;
}

#piholeContainer {
    display: block;
    margin: 0 auto;
    border: solid white;
    border-radius: 10px;
    max-width: 38em;
}

#prefsContainer {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    border: solid white;
    border-radius: 10px;
}

#passgenContainer {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    border: solid white;
    border-radius: 10px;
}

#prefBoxes {
    margin: 10px;
}

#prefBoxes label {
    color: white;
}

#prefBoxes input {
    margin: 5px;
}

#prefInputs {
    text-align: center;
    margin: 10px;
}

#prefCheckboxes {
    margin: 0 auto;
    text-align: center;
}

#passLength {
    border: none;
    background-color: black;
    color: white;
    width: 50px;
    font-weight: bold;
    font-size: 20px;
}