body {
    background-color: black;
    padding: 20px;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

#mainContainer {
    background-color: #111111;
    border: solid white;
    border-radius: 10px;
    max-width: 90em;
    margin: 0 auto;
    padding: 20px;
}

#contentElements {
    margin: 0;
    padding: 0;
}

#contentElements h1 {
    color: white;
    font-weight: bold;
    font-size: 30px;
    padding: 2px;
    margin: 2px;
    line-height: 2;
    text-align: center;
}

#contentElements p {
    color: white;
    font-size: 18px;
    text-align: center;
    font-weight: normal;
    padding: 2px;
    margin: 2px;
    line-height: 1.5;
}

#piholeButton {
    text-align: center;
    margin: 20px;
}

#piholeContainer {
    background-color: #333333;
    display: block;
    margin: 0 auto;
    border: solid white;
    border-radius: 10px;
}

#prefsContainer {
    background-color: #333333;
    display: block;
    margin: 0 auto;
    border: solid white;
    border-radius: 10px;
    font-size: 18px;
}

#passgenContainer {
    background-color: #333333;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    border: solid white;
    border-radius: 10px;
}

#passgenContainer2 {
    background-color: #333333;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    border: solid white;
    border-radius: 10px;
}

#passPhraseContainer {
    background-color: #333333;
    display: block;
    margin: 0 auto;
    border: solid white;
    border-radius: 10px;
}

#passPhraseContainer {
    text-align: center;
    font-size: 18px;
}

#passPhrase {
    font-size: 20px;
    border: solid white;
    color: white;
    background-color: black;
    margin: 20px;
}

#prefBoxes {
    margin: 10px;
}

#prefBoxes label {
    color: white;
}

#prefBoxes input {
    margin: 5px;
}

#prefInputs {
    text-align: center;
    margin: 10px;
}

#prefCheckboxes {
    margin: 0 auto;
    text-align: center;
}

#passLength {
    border: none;
    background-color: #333333;
    color: white;
    width: 50px;
    font-weight: bold;
    font-size: 20px;
}

#genButton {
    text-align: center;
    margin: 18px;
}

#passOut {
    color: white;
}

#mainOut {
    display: none;
    margin: 20px;
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
    word-wrap: break-word;
}

.checkboxResize {
    margin: 10px;
    padding: 5px
}

.buttonStyle {
    font-size: 24px;
    border: solid white;
    border-radius: 5px;
    background-color: black;
    color: white;
    transition: 100ms;
}

.buttonStyle:hover {
    border: solid grey;
    background-color: black;
    color: grey;
    transition: 100ms;
}

#copyButton {
    display: none;
}

#copyPhraseButton {
    display: none;
}

#passPhraseOut {
    display: none;
}

.placeholder {
    text-align: center;
}

.placeholderLine {
    border: solid white;
    margin-top: 40px;
    margin-bottom: 40px;
}

@media (orientation: portrait) {
    #contentElements h1 {
        font-size: 70px;
    }
    #contentElements p {
        font-size: 45px;
        line-height: 2;
    }
    #passLength {
        line-height: 2;
        font-size: 50px;
        width: 90px
    }
    #prefsContainer {
        line-height: 2;
        font-size: 45px;
    }
    #mainOut {
        line-height: 2;
        font-size: 65px;
    }
    #mainContainer {
        border: none;
        padding: 0;
    }
    .buttonStyle {
        font-size: 50px;
    }
    input[type=checkbox] {
        transform: scale(1.5);
    }
}