/*
Project: simple-passgen
Last Author: K1llf0rce
*/

* {
    font-family: 'Open Sans', 'Sans serif';
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    background-color: black;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

p,a,h1,h2,h3,label {
    margin: 0;
    padding: 0;
}

#contentWrapper {
    width: 100%;
    margin: 0 auto;
    flex: 1;
    max-width: 85em;
}

.mainContainer {
    background-color: #1f1f1f;
    margin: 15px;
    padding: 15px;
}

.mainContainer p,h1,h2,h3,label {
    color: white;
    padding: 5px;
}

.navbar-custom {
    background-color: #1f1f1f;
    border-bottom: solid;
    border-color: #5f5f5f;
    border-width: 3px;
}

.footer-custom {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background-color: #1f1f1f;
    border-top: solid;
    border-color: #5f5f5f;
    border-width: 3px;
}

.footer-custom p {
    color: white;
}

.contentHeading {
    text-align: center;
}

.infoBox { 
    margin: 0 auto;
    width: 90%;
    text-align: center;
}

.buttonBox {
    margin: 0 auto;
    width: 90%;
    text-align: center;
    padding: 5px;
}

.inputBox {
    margin: 0 auto;
    width: 90%;
    text-align: center;
}

.genOutput {
    margin: 0 auto;
    width: 90%;
    text-align: center;
    overflow-wrap: break-word;
}

#prefList {
    width: fit-content;
    margin: 0 auto;
    list-style: none;
    text-align: center;
}

#prefList li {
    margin-bottom: 3px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-bottom: solid #5f5f5f;
}

.optListItem {
    margin: 0 auto;
    padding-left: 6%;
    text-align: left !important;
}

#prefsContainer {
    margin: 15px auto;
    width: 90%;
}

#passPhrase {
    border: none;
    border-bottom: solid #5f5f5f;
    color: #ffffff;
    background-color: #1f1f1f;
    padding: 5px;
    margin: 15px;
    min-width: 300px;
}

#mainOut {
    display: none;
    font-size:20px;
    width: 50%;
}

#secOut {
    display: none;
    word-wrap: break-word;
    font-size:20px;
}

#copyButton {
    display: none;
}

#copyPhraseButton {
    display: none;
}

@media (pointer:none), (pointer:coarse) {
    .checkboxResize {
        transform: scale(1.25);
    }
}
